<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%=cereal.name%>
    </title>
</head>

<body>
    <h1>Edit <%= cereal.name %>
    </h1>
    <form action="/cereals/<%=cereal._id%>?_method=PUT" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" value="<%= cereal.name %>" />
        </div>
        <div>
            <label for="flavor">What is this cereals main flavor?</label>
            <input type="text" name="flavor" value="<%= cereal.flavor %>" />
        </div>
        <div>
            <label for="quickToSoggy">Check this box if it gets soggy quickly</label>
            <input type="checkbox" name="quickToSoggy" <% if (cereal.quickToSoggy) { %>checked<% } %>
                />
                <button type="submit">Update Cereal</button>
        </div>
    </form>
    <a href="/cereals">Back to Cereals</a>
</body>

</html>